@import "tailwindcss";

.title{
    font-size: 4rem;
    
}
.title:hover{
    color: #007bff;
}

.search-input{
    width: 100%;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin: 20px;

}

.search-input:focus{
    outline: none;
    border-color: #007bff;
}

.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button{
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.search-button:hover{
    background-color: #0056b3;
}

.pokecard-container{
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border:1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;

}

.pokecard-container:hover{
    transform: scale(1.05);
}

.pokemon-list{
    width: 85w;
    margin:0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.pokecard-container img{
    width: 150px;
    height: 150px;
}



.stat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}


